@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Slick Carousel CSS */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


html {
  scroll-behavior: smooth;
}

/* Light mode styles
.light {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode styles 
.dark {
  background-color: #000000;
  color: #ffffff;
}

body{
    transition: background-color 0.3s, color 0.3s;
  } */


@layer base {

  body {
   @apply bg-[#ffffff] text-[#0b0c0e] tracking-wide
  }

  *{
    @apply transition-colors duration-200
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl
  }

  h2 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl
  }
  h3{
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl
  }
  h4{
    @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl
  }
  h5{
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl
  }
  h6{
    @apply  text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl
  }

  p {
    @apply  text-[#7b7b7b] text-sm sm:text-base 
  } 

 

  li{
    @apply cursor-pointer
  }

  /* button{
    @apply bg-[#31473a] hover:bg-[#edf4f2] text-white  py-2 px-4 shadow-xl
  } */
}

h6{
  letter-spacing: .15rem;
}

/* global.css */
.slick-slide > div {
  margin: 0 10px
}

/* styles/globals.css */
.group-hover\:underline::before {
  content: '';
  display: block;
  height: 2px;
  background-color: green;
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.group-hover:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* styles/globals.css */
body {
  font-family: 'Poppins', sans-serif;
}
